* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.mese {
    font-size: 30px;
    margin-bottom: 30px;
}

.container button {
    padding: 5px 10px;
    background-color: blue;
    color: white;
    margin-right: 40px;
    margin-bottom: 20px;
}

.rosso {
    color: red;
}

span, .ul-giorni li {
    text-transform: capitalize;
}
